#menu{
    margin: 20px;
    font-size: 20px;
    background-color: $blueFondo;
    display: flex;
    a{
        width: 70%;
        align-self: center;
    }
    #navbarNav{
        margin: 20px;
        //justify-content: flex-end;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                list-style: none;
                padding: 10px;
                a{
                    color: $whiteNeutral;
                    &hover{
                        color: $whiteNeutral;
                    }
                }
               
            }
        }
    }
}