* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c2431;
}

body #second {
  background-color: #181f2a;
}

body #third {
  background-color: #0b1523;
}

#menu {
  margin: 20px;
  font-size: 20px;
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu a {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#menu #navbarNav {
  margin: 20px;
}

#menu #navbarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu #navbarNav ul li {
  list-style: none;
  padding: 10px;
}

#menu #navbarNav ul li a {
  color: white;
}

#menu #navbarNav ul li ahover {
  color: white;
}

#first {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

#first .container .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

#first .container .row div .card {
  color: white;
  width: 70%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-align: center;
}

#first .container .row div .card img {
  margin-bottom: 20px;
}

#first .container .row div .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#first .container .row div .card div h5 {
  padding: 20px;
  margin: 20px;
  font-size: 250%;
}

#first .container .row div .card div p {
  font-size: 160%;
  margin-bottom: 40px;
}

#first .container .row div .card div a {
  color: white;
  font-size: 120%;
  padding: 15px;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 150px;
  border-radius: 40px;
  border-color: #65e2d9;
  background-color: #65e2d9;
}

#grid div {
  padding: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

#grid div img {
  width: 90px;
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#grid div h5 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#grid div p {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#tarjeta {
  margin-top: 30px;
  margin-bottom: 80px;
  color: white;
}

#tarjeta #texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#tarjeta #texto h4 {
  font-size: 300%;
}

#tarjeta #texto a {
  width: 30%;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
}

#profiles {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profiles .perfil {
  margin: 20px;
  padding: 20px;
  background-color: #202a3c;
  border-radius: 5px;
}

#profiles .perfil p {
  font-size: 90%;
}

#profiles .perfil div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profiles .perfil div img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#profiles .perfil div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}

#profiles .perfil div div h5 {
  font-size: 90%;
}

#profiles .perfil div div h6 {
  font-size: 70%;
}

#tarjeta2 {
  color: white;
  background-color: pink;
  margin: 30px 30px;
}

#tarjeta2 div .card {
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#tarjeta2 div .card .card-body {
  padding: 40px;
}

#tarjeta2 div .card .card-body h5 {
  width: 100%;
  text-align: center;
  font-size: 200%;
}

#tarjeta2 div .card .card-body p {
  width: 100%;
  text-align: center;
  font-size: 90%;
}

#tarjeta2 div .card .card-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#tarjeta2 div .card .card-body div form {
  width: 60%;
}

#tarjeta2 div .card .card-body div form input {
  padding-left: 15px;
  border-radius: 40px;
  background-color: white;
}

#tarjeta2 div .card .card-body div a {
  width: 30%;
  background-color: #65e2d9;
  padding-left: 15px;
  border-radius: 40px;
  border-color: #65e2d9;
}

footer {
  color: white;
  font-size: 110%;
}

footer div div {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div div p {
  font-size: 80%;
}

footer div div img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

footer div ul li {
  list-style: none;
}

footer #challenge p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */